---

import skills from "../../collections/skills.json";
---


<div class="grid grid-cols-1 tablet:grid-cols-3 gap-4 tablet:gap-8 laptop:gap-12 max-w-sm tablet:max-w-3xl mx-auto">
  {
    skills.map((skill) => {
      return (
      <div  
        class="
          text-gray-900
          bg-white border 
          border-gray-300 
          focus:outline-none 
          hover:bg-gray-100 
          focus:ring-4 
          focus:ring-gray-100 
          dark:bg-gray-800 
          dark:text-white 
          dark:border-gray-600 
          dark:hover:bg-gray-700 
          dark:hover:border-gray-600 
          dark:focus:ring-gray-700
          font-medium 
          rounded-full 
          text-sm 
          px-5 
          py-2.5 
          max-w-md  
          w-full
          mx-auto
          text-center
        ">
        { skill.name }
      </div>
      )
    })
  } 
</div>